-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: skihub
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `lifts`
--

DROP TABLE IF EXISTS `lifts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lifts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  `type` varchar(50) NOT NULL,
  `capacity` int DEFAULT NULL,
  `resort_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `resort_id` (`resort_id`),
  CONSTRAINT `lifts_ibfk_1` FOREIGN KEY (`resort_id`) REFERENCES `resorts` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lifts`
--

LOCK TABLES `lifts` WRITE;
/*!40000 ALTER TABLE `lifts` DISABLE KEYS */;
INSERT INTO `lifts` VALUES (8,'Cabinovia Centrale','cabinovia',2400,1),(9,'Seggiovia Sole','seggiovia',1800,1),(10,'Skilift Nord','skilift',900,1),(11,'Funivia Monte Neve','funivia',2600,2),(12,'Seggiovia Ghiacciaio','seggiovia',2000,2),(13,'Skilift Baby','skilift',700,2),(14,'Cabinovia Valle','cabinovia',2200,3),(15,'Seggiovia Bosco Alto','seggiovia',1600,3),(16,'Skilift Prati Bassi','skilift',800,3),(17,'Funivia Cima','funivia',2500,4),(18,'Seggiovia Panorama','seggiovia',1900,4),(19,'Skilift Campo Scuola','skilift',650,4);
/*!40000 ALTER TABLE `lifts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase`
--

DROP TABLE IF EXISTS `purchase`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `resort_id` int DEFAULT NULL,
  `datefrom` datetime DEFAULT NULL,
  `dateto` datetime DEFAULT NULL,
  `count` int DEFAULT NULL,
  `amount` float DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `resort_id` (`resort_id`),
  CONSTRAINT `purchase_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`),
  CONSTRAINT `purchase_ibfk_2` FOREIGN KEY (`resort_id`) REFERENCES `resorts` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase`
--

LOCK TABLES `purchase` WRITE;
/*!40000 ALTER TABLE `purchase` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resorts`
--

DROP TABLE IF EXISTS `resorts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resorts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  `region` varchar(100) NOT NULL,
  `altitude_min` int DEFAULT NULL,
  `altitude_max` int DEFAULT NULL,
  `price` double NOT NULL,
  `admin_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `admin_id` (`admin_id`),
  CONSTRAINT `resorts_ibfk_1` FOREIGN KEY (`admin_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resorts`
--

LOCK TABLES `resorts` WRITE;
/*!40000 ALTER TABLE `resorts` DISABLE KEYS */;
INSERT INTO `resorts` VALUES (1,'Alpe Bianca','Trentino-Alto Adige',1200,2800,55,3),(2,'Monte Neve','Lombardia',1500,3200,62.5,4),(3,'Valle del Freddo','Lombardia',1100,2600,48,3),(4,'Cima del Sole','Piemonte',1400,3000,58,4);
/*!40000 ALTER TABLE `resorts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `slopes`
--

DROP TABLE IF EXISTS `slopes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `slopes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) DEFAULT NULL,
  `difficulty` enum('blu','rossa','nera') NOT NULL,
  `length_km` float DEFAULT NULL,
  `resort_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `resort_id` (`resort_id`),
  CONSTRAINT `slopes_ibfk_1` FOREIGN KEY (`resort_id`) REFERENCES `resorts` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `slopes`
--

LOCK TABLES `slopes` WRITE;
/*!40000 ALTER TABLE `slopes` DISABLE KEYS */;
INSERT INTO `slopes` VALUES (8,'Pista Verde Bosco','blu',2.1,1),(9,'Pista Rossa Panorama','rossa',3.8,1),(10,'Pista Nera Inferno','nera',1.9,1),(11,'Pista Azzurra Neve','blu',2.5,2),(12,'Pista Rossa Ghiacciaio','rossa',4.2,2),(13,'Pista Nera Valanga','nera',2.3,2),(14,'Pista Blu Pianoro','blu',2,3),(15,'Pista Rossa Vallone','rossa',3.5,3),(16,'Pista Nera Canalone','nera',1.7,3),(17,'Pista Blu Sole','blu',2.3,4),(18,'Pista Rossa Cresta','rossa',4,4),(19,'Pista Nera Ombra','nera',2.1,4);
/*!40000 ALTER TABLE `slopes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `role` varchar(5) NOT NULL,
  `username` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `first_name` varchar(255) NOT NULL,
  `last_name` varchar(255) NOT NULL,
  `birth_date` date NOT NULL,
  `password` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES (2,'user','a','a','a','a','1111-11-11','scrypt:32768:8:1$XJ908vnXpH0CJZdL$ea93eb6cf4dcf3c5f2f97f7aefa103cb2703c48c609d9fdcdabf61011096891943caab492200f4c0a9e888ed8fcfea565731902d9b509e9132f9ffa275783aaa'),(3,'admin','b','b@gmail.com','b','b','1111-11-11','pbkdf2:sha256:1000000$imDKTJtkDykHmIdt$327e45b81f5bb3205a4acab0f4a10e3f8d612fa8e5cee40e4bd0236e8fea8b5e'),(4,'admin','c','c@gmail.com','c','c','1111-11-11','pbkdf2:sha256:1000000$1hrTAQc6Y6L8uhdC$37e7860ba2bc990a87bc3e7147eb22b25b77219facf7827de8847b94f8367a36');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-08 17:24:22
