<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SkiHub{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/SkiHub_v3.ico') }}">
</head>
<body>

<header class="main-header">
    <h1 class="logo">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static',filename='img/SkiHub_logo_v3.png') }}" alt="" width="14%"></a>
    </h1>

    <div class="profile-menu">
        <button class="profile-btn">
            👤
        </button>

        <div class="dropdown">
            {% if not session.get('user_id') %}
                <!-- NON LOGGATO -->
                <a href="{{ url_for('login.login') }}">🔑 Login</a>
                <a href="{{ url_for('register.register') }}">📝 Registrati</a>

            {% else %}
                <!-- LOGGATO -->
                <span class="dropdown-user">
                    {{ session.get('user_name', 'Utente') }}
                </span>

                <a href="{{ url_for('profile.profile') }}">👤 Profilo</a>
                {% if session.get('role') == 'admin' %}
                    <hr>
                    <a href="{{ url_for('admin.dashboard') }}">🛠 Dashboard</a>
                {% endif %}

                <hr>
                <a class="danger" href="{{ url_for('login.logout') }}">🚪 Logout</a>
            {% endif %}
        </div>
    </div>
</header>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>
