{% extends 'base.html' %}

{% block title %}Gestione comprensori{% endblock %}

{% block content %}
    <div class="container">

        <!-- SIDEBAR -->
        <aside class="sidebar">
            <h2>Gestione</h2>

            <a class="btn-primary full"
               href="{{ url_for('admin.new_resort') }}">
                ➕ Aggiungi
            </a>

            <hr>

            <div class="filter-group">
                <label for="searchName">Nome</label>
                <input type="text" id="searchName" placeholder="Comprensorio">
            </div>

            <div class="filter-group">
                <label for="region">Regione</label>
                <select name="region" id="region" required>
                    <option value="">Seleziona una regione</option>

                    <option value="Abruzzo">Abruzzo</option>
                    <option value="Basilicata">Basilicata</option>
                    <option value="Calabria">Calabria</option>
                    <option value="Campania">Campania</option>
                    <option value="Emilia-Romagna">Emilia-Romagna</option>
                    <option value="Friuli-Venezia Giulia">Friuli-Venezia Giulia</option>
                    <option value="Lazio">Lazio</option>
                    <option value="Liguria">Liguria</option>
                    <option value="Lombardia">Lombardia</option>
                    <option value="Marche">Marche</option>
                    <option value="Molise">Molise</option>
                    <option value="Piemonte">Piemonte</option>
                    <option value="Puglia">Puglia</option>
                    <option value="Sardegna">Sardegna</option>
                    <option value="Sicilia">Sicilia</option>
                    <option value="Toscana">Toscana</option>
                    <option value="Trentino-Alto Adige">Trentino-Alto Adige</option>
                    <option value="Umbria">Umbria</option>
                    <option value="Valle d'Aosta">Valle d'Aosta</option>
                    <option value="Veneto">Veneto</option>
                </select>
            </div>
            <button onclick="searchResorts()">Cerca</button>
            <a href="{{ url_for('login.logout') }}">Logout</a>
        </aside>

        <!-- CONTENT -->
        <main class="content">
            <div class="resort-grid">
                {% for resort in resorts %}
                    <a class="btn-secondary" href="{{ url_for('admin.edit_resort', resort_id=resort.id) }}">
                    <div class="resort-card admin-card">
                        <h3>{{ resort.name }}</h3>
                        <p>📍 {{ resort.region }} – {{ resort.country }}</p>
                        <p>⛰ {{ resort.altitude_min }} – {{ resort.altitude_max }} m</p>
                        <p>🚡 {{ resort.lifts|length }} impianti</p>
                        <p>🎿 {{ resort.slopes|length }} piste</p>
                    </div>
                    </a>
                {% else %}
                    <div class="no-results">Nessun comprensorio inserito</div>
                {% endfor %}

            </div>
        </main>

    </div>
{% endblock %}
